<div class="row" id="list-contacts">
  <div class="col-12">
    <div class="row">
      <div class="col-12">
        <h1>Lista de contactos</h1>
      </div>
    </div>
    <ng-container *ngIf="listContacts.length > 0">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4" *ngFor="let contact of listContacts; let index = index">
          <div class="card h-100">
            <div class="card-body">
              <h4 class="card-title h-80">{{ contact.name + ',' + contact.surname }}</h4>
              <p>{{ contact.sex }}</p>
              <p class="card-text">{{ contact.description }}</p>
            </div>
            <div class="card-footer">
              <a class="btn btn-block btn-primary text-light" data-toggle="modal" [attr.data-target]="'#modal_' + index" role="button">Ver detalles</a>
            </div>
          </div>
          <!-- Modal del contacto -->
          <div class="modal fade" [attr.id]="'modal_' + index" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">{{ contact.name + ',' + contact.surname }}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-3">
                      <!-- Imagen del contacto -->
                      <img class="img-fluid" [src]="contact.sex === 'hombre' ? 'assets/img/perfil-fb-hombre.jpg' : 'assets/img/perfil-fb-mujer.jpg'" alt="" />
                    </div>
                    <div class="col-9">
                      <div class="row">
                        <div class="col-12">
                          <!-- Descripcion del contacto -->
                          <span>{{ contact.description ? contact.description : 'Sin descripción' }}</span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-6">
                          <!-- Telefono -->
                          <span class="d-block">Telefono: </span>
                          <span class="d-block">{{ contact.telephone }}</span>
                        </div>
                        <div class="col-6">
                          <span class="d-block">Email: </span>
                          <span class="d-block ellipsis" [title]="contact.email">{{ contact.email }}</span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 mt-4">
                          <!-- Empresa -->
                          {{ contact.company ? 'Empresa: ' + contact.company : 'Sin empresa' }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="listContacts.length === 0">
      <div class="row">
        <div class="container">
          <p class="card-title">No tienes ningún contacto guardado</p>
        </div>
      </div>
    </ng-container>
  </div>
</div>
