<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-12">
        <h1>Añadir un nuevo contacto</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <form #form="ngForm" (ngSubmit)="addContact()">
          <div class="row form-group">
            <div class="col-md-6 col-12 form-group">
              <label for="name">Nombre (*)</label>
              <input
                type="text"
                name="name"
                id="name"
                placeholder="Escribe tu nombre..."
                minlength="3"
                required
                class="form-control"
                #name="ngModel"
                [(ngModel)]="contact.name"
                [ngClass]="{
                  'is-valid': name.dirty && !name.errors,
                  'is-invalid': name.dirty && name.errors
                }"
              />
              <div class="valid-feedback">
                <span>¡Correcto!</span>
              </div>
              <div class="invalid-feedback">
                <span *ngIf="name.errors?.required">Valor requerido</span>
                <span *ngIf="name.errors?.minlength">Se necesitan minimo {{ name.errors?.minlength.requiredLength }} caracteres y llevas {{ name.errors?.minlength.actualLength }} caracteres</span>
              </div>
            </div>
            <div class="col-md-6 col-12 form-group">
              <label for="surname">Apellido (*)</label>
              <input
                type="text"
                name="surname"
                id="surname"
                placeholder="Escribe tus apellido..."
                minlength="3"
                required
                class="form-control"
                #surname="ngModel"
                [(ngModel)]="contact.surname"
                [ngClass]="{
                  'is-valid': surname.dirty && !surname.errors,
                  'is-invalid': surname.dirty && surname.errors
                }"
              />
              <div class="valid-feedback">
                <span>¡Correcto!</span>
              </div>
              <div class="invalid-feedback">
                <span *ngIf="surname.errors?.required">Valor requerido</span>
                <span *ngIf="surname.errors?.minlength">Se necesitan minimo {{ surname.errors?.minlength.requiredLength }} caracteres y llevas {{ surname.errors?.minlength.actualLength }} caracteres</span>
              </div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-12 form-group">
              <label for="description">Descripción contacto</label>
              <textarea class="form-control is-valid" name="description" id="description" maxlength="50" placeholder="Escribe una breve descripción del contacto" #description="ngModel" [(ngModel)]="contact.description"></textarea>
            </div>
            <div class="valid-feedback">
              <span>¡Correcto!</span>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-6 col-12 form-group">
              <label for="sex">Sexo (*)</label>
              <select name="sex" id="sex" class="custom-select is-valid" required #sex="ngModel" [(ngModel)]="contact.sex">
                <option value="Hombre">Hombre</option>
                <option value="Mujer">Mujer</option>
              </select>
              <div class="valid-feedback">
                <span>¡Correcto!</span>
              </div>
            </div>
            <div class="col-md-6 col-12 form-group">
              <label for="company">Empresa</label>
              <input type="text" name="company" id="company" class="form-control is-valid" maxlength="20" placeholder="Escribe el nombre de la empresa" #company="ngModel" [(ngModel)]="contact.company" />
              <div class="valid-feedback">
                <span>¡Correcto!</span>
              </div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-6 col-12 form-group">
              <label for="email">Email (*)</label>
              <input
                type="text"
                name="email"
                id="email"
                class="form-control"
                [title]="contact.email"
                required
                placeholder="Escribe el email del contacto"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                #email="ngModel"
                [(ngModel)]="contact.email"
                [ngClass]="{
                  'is-valid': email.dirty && !email.errors,
                  'is-invalid': email.dirty && email.errors
                }"
              />
              <div class="valid-feedback">
                <span>¡Correcto!</span>
              </div>
              <div class="invalid-feedback">
                <span *ngIf="email.errors?.required">Valor requerido</span>
                <span *ngIf="email.errors?.pattern">El formato no es correcto</span>
              </div>
            </div>
            <div class="col-md-6 col-12 form-group">
              <label for="telephone">Teléfono (*)</label>
              <input
                type="text"
                name="telephone"
                id="telephone"
                class="form-control"
                required
                placeholder="Escribe el teléfono del contacto"
                pattern="^(0034|\+34)?(\d\d\d)-? ?(\d\d)-? ?(\d)-? ?(\d)-? ?(\d\d)$"
                #telephone="ngModel"
                [(ngModel)]="contact.telephone"
                [ngClass]="{
                  'is-valid': telephone.dirty && !telephone.errors,
                  'is-invalid': telephone.dirty && telephone.errors
                }"
              />
              <div class="valid-feedback">
                <span>¡Correcto!</span>
              </div>
              <div class="invalid-feedback">
                <span *ngIf="telephone.errors?.required">Valor requerido</span>
                <span *ngIf="telephone.errors?.pattern">El formato no es correcto</span>
              </div>
            </div>
          </div>
          <div class="text-center">
            <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Añadir Contacto</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
